apiVersion: v1
kind: Service
metadata:
  name: student-app-service
  labels:
    app: student-app
spec:
  type: LoadBalancer
  selector:
    app: student-app
  ports:
    - name: http
      port: 80
      targetPort: 8000
